<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_BPSWebservice" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_BPSWebservice1" />
        <binding name="BasicHttpBinding_BPSWebservice2">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dev25/BPS_Developer_Portal/_vti_bin/Webservice_2017_1.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BPSWebservice"
          contract="BPSWebservice" name="BasicHttpBinding_BPSWebservice" />
      <endpoint address="http://dev25/BPS_Developer_Portal/_vti_bin/Webservice_2017_1.svc/anonymous"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BPSWebservice1"
          contract="BPSWebservice" name="BasicHttpBinding_BPSWebservice1" />
      <endpoint address="http://dev25/BPS_Developer_Portal/_vti_bin/Webservice_2017_1.svc/ntlm"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BPSWebservice2"
          contract="BPSWebservice" name="BasicHttpBinding_BPSWebservice2" />
    </client>
  </system.serviceModel>
</configuration>